.BasketItemContainer {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 7fr 1fr 2fr 1fr;
  height: 200px;
  border-bottom: 1px solid var(--clr-neutral-900);
  @media (max-width: 551px) {
    height: 320px;
    width: 320px;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 240px 80px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-gap: 0px;
    border: 1px solid var(--clr-accent-900);
  }

  & .BasketItemNameContainer {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 551px) {
      height: 100%;
      grid-column: 2 / 3;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
    }

    & img {
      height: 130px;
      width: auto;
      margin-left: 20px;
      margin-right: 20px;

      @media (max-width: 551px) {
        margin-top: 20px;
      }
    }

    & p {
      font-size: 2rem;

      @media (max-width: 551px) {
        font-size: 1.5rem;
        margin: 10px auto;
        text-align: center;
      }
    }
  }
  & .BasketItemPriceContainer {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    @media (max-width: 551px) {
      grid-row: 2;
      grid-column: 1 / 2;
      margin: 0px;
    }
  }

  & .BasketItemQuantityContainer {
    grid-column: 3;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 79px;
    @media (max-width: 551px) {
      grid-row: 2;
      grid-column: 2;
      margin-top: 0px;
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;

      & .quantity {
        font-size: 1rem;
        width: 20px;
        height: 20px;
        padding-right: 10px;
        padding-left: 10px;
        border: 1px solid var(--clr-neutral-900);
        font-weight: bold;
        text-align: center;
        border: none;
      }

      & .arrow {
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
      @media (max-width: 551px) {
        grid-row: 2;
        grid-column: 2 / 3;
        justify-content: space-around;

        & input[type="number"] {
          width: 40px;
          height: 40px;
          margin-right: 0px;
        }

        & button {
          width: 100px;
          height: 60px;
          font-size: 1.5rem;
          padding: 0;
          margin: 0;
          border: 1px solid var(--clr-neutral-900);
        }
      }
    }
    & .btn-clear {
      margin-top: 15px;
      border: none;
      background-color: transparent;
      font-family: "Bebas Neue", sans-serif;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  & .BasketItemTotalContainer {
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;

    & button {
      align-self: flex-start;
      margin: 15px 15px 0px 0px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      background: none;
      color: var(--clr-neutral-900);
      font-size: 1rem;
      font-weight: bold;
    }

    @media (max-width: 551px) {
      grid-row: 2;
      grid-column: 3 / 4;
      justify-content: center;
    }
  }
}
