.browse-container {
  width: 95%;
  display: flex;
  flex-direction: column;

  & .jumbotron-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    & h1 {
      margin: 0;
      font-size: 12rem;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      @media (max-width: 550px) {
        font-size: 10rem;
      }

      @media (max-width: 450px) {
        font-size: 7rem;
      }
    }
  }
  & .products-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: space-around;

    @media (max-width: 750px) {
      grid-template-columns: 250px 250px;
      justify-content: center;
      gap: 0;
    }

    @media (max-width: 550px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  & .back-to-browse-container {
    width: 100%;
    margin: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .back-to-browse-button {
      width: 200px;
      height: 50px;
      margin: 0 5px;
      border: none;
      font-family: var(--ff-serif);
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--clr-neutral-900);
      background-color: var(--clr-accent-900);

      &:hover {
        color: white;
        background-color: var(--clr-neutral-900);
        cursor: pointer;
      }
    }
  }
}
